body {
    margin: 0;
    font-family: Helvetica;
    background: #F0FFFF;
    color: #000080;
}
h1, h2 {
    font-family: Oswald;
    color: #00BFFF;
}
a {
    color: #FF4500;
}
section {
    padding: 3rem;
}